<div class="case1">
    <div class="live-comfortably">
        <img src="../../assets/live-comfortably.jpg" alt="" width="350" height="400">
        <div class="top-left">LIVE COMFORTABLY</div>
    </div>
    <div class="skincare">
        <img src="../../assets/skincaree.jpg" alt="" width="350" height="400">
        <div class="top-left">SKINCARE</div>
    </div>
    <div class="case3">
        <div class="kitchen">
            <img src="../../assets/kitchen.jpg" alt="" width="400" height="190">
            <div class="bottom-left">KITCHEN</div>
        </div>
        <div class="electronics">
            <img src="../../assets/electric-devices.jpg" alt="" width="400" height="190">
            <div class="bottom-left">ELECTRONICS</div>
        </div>
    </div>
</div>