<app-image-cart></app-image-cart>
<app-frequently-bought
></app-frequently-bought>
<div class="harmony-living">
    <div class="text">
        <h1>Creative harmonious living</h1>
        <p class="p1">SHOPIFY Products are all made to standard sizes so </p>
        <p class="p2">that you can mix and match them freely.</p>
        <button>SHOP NOW</button>
    </div>
    <div class="image-container">
        <img src="../../assets/harmony-living.jpg" alt="" height=400 width=700>
    </div>
</div>
<div class="trending-now"></div>
<div class="comfort-living"></div>
<div class="footer"></div>

